.top{
  height: 100px;
}

.eka, .toka, .kolmas{
  height: 100%;
  width: 20%;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  padding-top: 30px;
  color: blue;
}

.eka{ background-color: green;border:5px solid yellow;}
.toka{background-color: yellow;border:5px solid red;}
.kolmas{background-color: red;border: 5px solid green;}
